
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using MultiShop.Business.ViewModels
@model UserUpdateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin//plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/admin//plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin//dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="width:100%">
        <div class="login-logo">
            <a href="~/admin//index2.html"><b>User</b>  Update</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="hidden" name="userId" value="@Model.user.Id" />
                   <label for="role">Choose Role</label>
                        <select id="role" asp-for="roles[0]" style="width:100%">
                            <option>Admin</option>
                            <option>Moderator</option>
                            <option>Memmber</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                        </div>
                        <span asp-validation-for="roles" style="color:red"></span>
                    </div>

                    <div class="row">
                     
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
              
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/admin//plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin//plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin//dist/js/adminlte.min.js"></script>
</body>
</html>

